<form method="POST" action="/{{resto}}">
	<p>Vos plats</p>
	<p>
		<label for="plat">Votre plat :</label>
		<input type="text" name="plat" id="plat" placeholder="Ex : kebab" size="30"  />
	</p>
	<p>
		<label for="description">description du plat :</label>
		<input type="text" name="description" id="description" size="30"/>
	</p>
	<p>
		<label for="prix">prix du plat :</label>
		<input type="text" name="prix" id="prix" size="30" />
	</p>
	<p>
		<label for="photo">photo du plat  :</label>
		<input type="text" name="photo" id="photo" size="30" />
	</p>
	<input type="submit" value="Envoyer" />
</form>